<%= render partial: '/shared/navbar', locals: {central: "central_index", left: "upload_form", title: 'Scrivi un nuovo Help', right: "link_home"} %>

<div class='container', style='text-align: center;'>
  <%= form_for @help, url: create_help_path, method: 'post' do |f| %>
    <div class="field">
      <%= f.label :title, 'Titolo' %><br>
      <%= f.text_field :title, size: 40 %>
    </div>
    <div class="field">
      <%= f.label :text, 'Testo' %><br>
      <%= f.text_area :text, cols: 60, rows: 15 %>
    </div>
    <div class="actions">
      <%= f.submit 'Invia' %>
    </div>
  <% end %>
</div>
