<div class = "navbar_item top_center grey_background">
  <h1 style = "margin-bottom:0px;"><%= @product[:name] %></h1>

  <p id = "product_details", data-code= <%= @product[:code] %> >
    <strong>Codice:</strong>
    <%= @product[:code] %>
    <strong>Prezzo:</strong>
    <%= nice_price(@product[:price]) %>
    <%= image_tag @product[:web_pic], id: 'image_hover' %>
  </p>
</div>
