<div class="navbar_item top_right grey_background">
  <%= search_form_for @search do |f| %>

    <%= f.label :code_or_name_cont, 'Ricerca Prodotto' %>
    <%= f.search_field :code_or_name_cont %>

    <%= f.submit 'Cerca' %>
  <% end %>
  <div class="help_symbol">
    <%= link_to help_path do %>
      <i class="fa fa-info-circle fa-2x"></i>
    <% end %>
  </div>
</div>
