<p id="notice"><%= notice %></p>
<div class="wrap">
  <div class="container">
    <h1>Elenco dei Prodotti</h1>

    <table class="product_table">
      <colgroup>
        <col style="width: 25%;">
        <col style="width: 25%;">
        <col style="width: 25%;">
        <col style="width: 25%;">
      </colgroup>
      <thead>
        <tr>
          <th>Codice Prodotto</th>
          <th>Prezzo</th>
          <th>Quantità vendute</th>
          <th>Miglior Panoplie</th>
        </tr>
      </thead>

      <tbody>
        <% @products.each do |product| %>
          <tr
            <% if product.id == @lucky_one %>
              class='comic'>
            <% else %>
              >
            <% end %>
            <td><%= product.code %></td>
            <td><%= product.price.round(2) %></td>
            <td><%= product.total_sales %></td>
            <td><%= product.husband_product %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>
  </div>
</div>

<%= form_tag({controller: :sales, action: :upload_file, method: :post}, multipart: true) do |f| %>
  <div class="browse_button">
    <%= label :sales_file, 'Seleziona il File da caricare' %>
    <br/>
    <%= file_field_tag :sales_file, multiple: true, accept: 'text/plain,application/excel' %>
  </div>
  <div class="save">
    <%= submit_tag 'Salva' %>
  </div>

<% end %>
