<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
  google.charts.load("current", {packages:["corechart"]});
</script>

<%= link_to 'Indietro', products_path %>

<p id="notice"><%= notice %></p>

<h1><%= @product.name %></h1>

<p id = "product_details">
  <strong>Codice:</strong>
  <%= @product.code %>
  <strong>Prezzo:</strong>
  <%= number_to_currency(@product[:price], unit: "€", separator: ",", delimiter: "", format: "%n %u") %>
</p>

<div id = "charts">
  <div id="pie_container" style="width:50%; height:400px;"></div>
  <div id="histogram_container" style="width:50%; height:400px;"></div>
</div>

<table class="panoplie_table">
  <colgroup>
    <col style="width: 50%;">
    <col style="width: 50%;">
  </colgroup>
  <thead>
    <tr>
      <th>Codice Prodotto</th>
      <th>Numero Vendite complementari</th>
    </tr>
  </thead>
  <tbody>
    <% @all_pairs[0..20].each do |pair| %>
      <tr>
        <td><%= pair[:product] %></td>
        <td><%= pair[:sales] %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<%= link_to 'Back', products_path %>

<%= javascript_tag do %>
  window.histogram = '<%= j @product.best_pairs_to_chart.to_json.html_safe %>';
  window.pie = '<%= j @product.values_for_pie_chart.to_json.html_safe %>';
<% end %>
